# --- General ---
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Node backend ---
.env
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Angular frontend ---
dist/
tmp/
out-tsc/
bazel-out/
.angular/cache
coverage/
