<app-usernav></app-usernav>
<div class="container-fluid d-flex justify-content-center flex-column">
    <div>
        <h1 class="text-center mt-3">My Orders</h1>
        <hr>
        <div class="d-flex flex-column justify-content-center align-items-center my-3" >
            <div class="shadow rounded w-50 my-2 p-3" *ngFor="let order of orders" >
                <h3><strong>Order ID: </strong>{{order._id}}</h3>
                <p><strong>Status: </strong>{{order.orderStatus}}</p>
                <p><strong>Total Amount: </strong>${{order.totalAmount}}</p>
                <p><strong>Billing Address: </strong>{{order.billingAddress}}</p>
                <p><strong>Shipping Address: </strong>{{order.shippingAddress}}</p>
                <p><strong>Order Date: </strong>{{order.orderDate}}</p>
                <div class="bg-info-subtle shadow d-flex justify-content-between p-3 rounded my-1" *ngFor="let item of order.orderItems">
                    <div>
                        <strong>Book: </strong>{{item.orderItem?.book?.name}}
                    </div>
                    <div>
                        <strong>Quantity: </strong>{{item.orderItem?.quantity}}
                    </div>
                </div>

                <div class="d-flex flex-sm-row flex-column gap-2 mt-2">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#trackOrderModal" (click)="openTrackModal(order.orderStatus)"> Track Ordern</button>
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelConfirmModal" (click)="setOrderToCancel(order._id)" #cancelOrderModal>Cancel Order</button>
                </div>

                <div class="modal fade" id="trackOrderModal" tabindex="-1" aria-labelledby="trackOrderModalLabel" aria-hidden="true" #trackModal>
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="trackOrderModalLabel">Order Tracking Status</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body d-flex justify-content-around flex-wrap">
                            <span *ngFor="let step of statusSteps"
                                  class="badge rounded-pill px-3 py-2"
                                  [ngClass]="{'bg-success': statusSteps.indexOf(step) <= statusSteps.indexOf(orderStatus), 'bg-secondary': statusSteps.indexOf(step) > statusSteps.indexOf(orderStatus)}">
                              {{ step }}
                        </span>
                      </div>
                </div>
              </div>
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="cancelConfirmModal" tabIndex="-1" aria-labelledby="cancelConfirmModalLabel" aria-hidden="true" #cancelModal>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cancelConfirmModalLabel">Confirm Cancellation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to cancel this order?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger" (click)="confirmCancel()">Yes, Cancel</button>
                </div>
            </div>
        </div>
    </div>


</div>